@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');
@import "overview-styles.css";
@import "details-styles.css";
@import "liga-styles.css";
@import "liveticker-style.css ";

:root {

    --laola-red: hsl(356, 95%, 46%);
    --laola-white: hsl(180, 43%, 99%);
    --laola-black: hsl(150, 3%, 11%);

}

* {
    /* light reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}


/* header styles */
header {
    background: var(--laola-black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    color: var(--laola-white);
}


.header__leftside {
    border: 1px red solid;

    display: grid;
    grid-template-columns: 1fr;
    align-content: center;

}

.header__logo {
    height: 2rem;
    margin-left: 1rem;
}

.header__text {
    display: none;
}

.header__rightside {
    border: 1px red solid;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header__navigation {
    grid-column-start: 2;
    align-self: center;
    justify-self: end;

    display: flex; /* um das image child  */
    height: 3.5rem;

    padding: 1rem;

    transform: skewX(-10deg);
    transform-origin: bottom left;

    border-radius: 5px 0 0 5px;
    background: var(--laola-red);

}
.header__hamburger-image {
    filter: invert(90%);
    width: 150%;
    height: auto;
}





